html {
  height: 100vh;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transition: 1.5s ease;
  display: flex;
  justify-content: center;
  margin-top: 200px;
  background-color: #6B73;
}
body:hover{
  perspective: 400px; transform: rotateY(180deg);
}

header {
  border: 5px solid #73896B; background: linear-gradient(#73896B, #ffffff);
  border-radius: 20px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

header, main{
  position:absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  margin-top: 5px;
  box-shadow: 6px 4px 0px rgba(0, 0, 0, 0.2)
}


img {
  border: 5px solid #73896B;
  border-radius: 250px;
  width: 150px;
  
}

main {
  border: 5px solid #73896B; background: linear-gradient(#73896B, #ffffff);
  border-radius: 20px;
  text-align:center;
  position: absolute;
  height: 100%;
  width: 100%;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

ul {
  text-align:center;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 5em;
}

li {
  margin: 10px;
}

span {
  display: block;
}

body > header, 
body > main{
  width: 50rem;
  height: 20rem;
}

body-cont{
  display: inline-block;
}

body-cont:hover.body{
  transform: perspective(400px) rotateY(180deg);
}

/*
article {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 50vw;
  max-width: 100em;
  min-width: 50em;
  border-radius: 1rem;
  background: #73896B;
  background: linear-gradient(0deg, rgb(255, 255, 255) 40%, #73896B 100%);
  box-shadow: 0 0 20px 20px rgba(0,0,0,.1);
  transition: .25s;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
}

h1 {
  margin: 2rem 0 1rem;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif; 
  
}

button {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  padding: .25rem;
  border: none;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  transform: scale(.8);
  transition: .25s;
}
button:focus {
  outline: none;
  background: #ffffff;
}
button:focus svg {
  stroke: rgb(255, 255, 255);
}

svg {
  position: absolute;
  top: calc(1.25rem - 12px);
  left: calc(1.25rem - 12px);
  stroke: #73896B;
  transition-delay: .25s;
}
button svg:nth-of-type(2) {
  opacity: 0;
  transition-delay: 0ms;
}

img {
  position: relative;
  top: 2rem;
  width: 10em;
  height: auto;
  border: 5px solid #73896B;
  border-radius: 10em;
  box-shadow: 0 0 2px 2px rgba(0,0,0,.2);
  transition: .25s .15s;
}

dl {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "html-dd css-dd js-dd"
    "html-dt css-dt js-dt"
    ;
  justify-items: center;
  align-items: start;
  width: 100%;
  margin-top: -3rem;
  margin-bottom: 0;
  padding: 5rem 0 3rem;
  text-align: center;
  background: rgb(255,255,255);
}

dt {
  margin-top: .25rem;
  padding-top: .25rem;
  border-top: 1px solid rgba(0,0,0,0.3);
  font-weight: bold;
}
dt:nth-of-type(1) {
  grid-area: html-dt;
}
dt:nth-of-type(2) {
  grid-area: css-dt;
  transform: translateY(1rem);
}
dt:nth-of-type(3) {
  grid-area: js-dt;
}

dd {
  margin: 0;
  padding-left: .3rem;
  transition: .25s .3s;
}
dd:nth-of-type(2){  
  transform: translateY(1rem);
}

p { 
  margin: 0;
}

article > p {
  width: 100%;
  margin-top: 0;
  padding: 3rem 2rem;
  border-radius: 0 0 1rem 1rem;
  text-align: center;
  background: rgba(255,255,255, 0.5);
}


body.expand {
  font-size: 1.15em;
}

body.expand article {
  width: 60vw;
  max-width: 60vw;
}

body.expand button svg:first-of-type {
  opacity: 0;
  transition-delay: 0ms;
}

body.expand button svg:nth-of-type(2) {
  opacity: 1;
  transition-delay: .25s;
}

body.expand dd {
  font-size: 1.75em;
}

body.expand img {
  width: 15em;
} */
